@import url("./Keyframes.css");

@font-face {
  font-family: 'Yellowtail';
  src: url('/fonts/Yellowtail-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
  url('/fonts/Yellowtail-Regular.ttf') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Yellowtail-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/Yellowtail-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Yellowtail-Regular.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Rhinemetal';
  src: url('/fonts/1952 RHEINMETALL.ttf') format('embedded-opentype'), /* Internet Explorer */
  url('/fonts/1952 RHEINMETALL.ttf') format('woff2'), /* Super Modern Browsers */
  url('/fonts/1952 RHEINMETALL.ttf') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/1952 RHEINMETALL.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/fonts/1952 RHEINMETALL.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Boogaloo';
  src: url('/fonts/Boogaloo-Regular.otf') format('embedded-opentype'), /* Internet Explorer */
  url('/fonts/Boogaloo-Regular.otf') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Boogaloo-Regular.otf') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/Boogaloo-Regular.otf')  format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Boogaloo-Regular.otf') format('svg'); /* Legacy iOS */
}

/* Global */

.container {
  display: block;
  max-width: 100%!important;
}

.click-pointer {
  cursor: url("/images/cursorpoint.png"), auto;
}

body {
  background-image: url("/images/bg.jpg");
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.14285714rem;
  max-width: 700px!important;
  line-height: 1.5;
}

.slides {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 75%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  scroll-snap-align: start;
}

/* .project {
  display: none;
}

.contact {
  display: none;
} */

@media screen and (max-width: 767px) {
  .container {
    width: auto!important;
    margin-left: 1em!important;
    margin-right: 1em!important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 723px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 933px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1127px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}

/* Overlay */

.overlay {
  position: absolute;
  pointer-events: none;
  opacity: 0.05;
  top: -1000px;
  left: -1000px;
  width: 300%;
  min-width: 300%;
  height: 300%;
  z-index: 10;
}

.two {
  background-image: url("/images/grain.png");
  -webkit-animation: grain 20s steps(10) infinite;
  -moz-animation: grain 20s steps(10) infinite;
  -ms-animation: grain 20s steps(10) infinite;
  animation: grain 20s steps(10) infinite;
  background-size: cover;
}

/* Primary */

.primary-content {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

/* Splash */

.splash {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  text-align: center;
}

.splash-header {
  position: relative;
  height: 25%;
  max-height: 25%;
}

hr {
  position: absolute;
  bottom: 0px;
  display: block;
  opacity: 0.5;
  border: 0px;
  width: 100%;
  height: 10px;
  outline: none;
  background-image: url("/images/customhr.png");
}

.main-heading {
  font-family: Yellowtail;
}

.splash-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 359px) {
  .main-heading {
    font-size: 60px;
  }
  .splash-image {
    width: 300px;
  }
}

@media screen and (min-width: 360px) and (max-width: 899px) {
  .main-heading {
    font-size: 60px;
  }
  .splash-image {
    width: 340px;
  }
}

@media screen and (min-width: 900px) { /* Once the image reaches this screen size, don't want it to grow anymore */
  .main-heading {
    font-size: 80px;
  }
  .splash-image {
    max-width: 450px;
  }
}

/* About */

.about-barker-container, .about-barker-text {
  width: 320px;
  height: 278px;
  font-size: 13px;
}

.about-barker-container {
  background-size: 320px;
  background-image: url("/images/aboutbarkermobile.png");
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
}
.about-barker-text {
  font-family: Rhinemetal;
  text-align: justify;
  font-weight: 600;
  padding-right: 20px;
  padding-left: 20px;
}

.space-one {
  width: 110px;
  height: 45px;
  float: left;
}
.space-two {
  width: 170px;
  height: 30px;
  float: right;
}
.space-three {
  width: 6px;
  height: 100px;
  float: left;
  clear: left;
}
.space-four {
  width: 90px;
  height: 60px;
  float: left;
  clear: left;
}
.space-five {
  width: 125px;
  height: 40px;
  float: left;
  clear: left;
}
  @media screen and (min-width: 360px) {
    .about-barker-container {
      width: 360px;
      height: 309px;
      background-size: 360px;
    }

    .about-barker-text {
      font-size: 15px;
      width: 360px;
      height: 309px;
    }
      /* Spacers */

      .space-one {
        height: 50px;
      }
      .space-two {
        width: 210px;
      }
      .space-three { /*  Functions as left padding */
        height: 112px;
      }

      .space-four {
        width: 100px;
      }

      .space-five {
        height: 90px;
      }
  }

/* Projects */
.project-card-container {
  position: relative;
  background-image: url("/images/projectsbarker.png");
  background-size: 320px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 500px;
  z-index: 20;
}
.project-card-text {
  font-family: Rhinemetal;
  text-align: justify;
  font-size: 13px;
  font-weight: 600;
  width: 320px;
  padding-top: 225px;
  padding-left: 25px;
  padding-right: 25px;
}
  .project-card-bullets-container {
    position: relative;
    width: 320px;
    font-family: Boogaloo;
    font-size: 14px;
  }
  .project-bullets-text {
    position: absolute;
    padding-top: 25px;
    padding-left: 39px;
    padding-right: 100px;
    width: 256px;
    height: 97px;
    left: 10px;
    top: 3px;
    z-index: 50;
  }
  .built-using {
    position: absolute;
    width: 200px;
    left: 10px;
    top: 3px;
    z-index: 30;
  }
  .project-heading {
    position: absolute;
    width: 180px;
    left: 0px;
    top: 120px;
  }
  .screenshots-button {
    position: absolute;
    width: 139px;
    right: 0px;
    top: 120px;
  }
  /* Buttons */

  .info-buttons {
    position: absolute;
    top: 190px;
  }
  .gitbox {
    left: 30px;
  }

  .liveapp {
    left: 110px;
  }
  .inner-next {
    position: absolute;
    bottom: 25px;
    right: 130px;
  }

  .inner-prev {
    position: absolute;
    bottom: 0px;
    right: 210px;
  }

  @media screen and (min-width: 360px) {
    .project-card-container {
      position: relative;
      background-image: url("/images/projectsbarker.png");
      background-size: 360px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
      width: 360px;
      height: 600px;
    }
    .project-card-text {
      font-family: Rhinemetal;
      text-align: justify;
      font-size: 15px;
      font-weight: 600;
      width: 360px;
      padding-top: 240px;
      padding-left: 25px;
      padding-right: 25px;
    }
      .project-card-bullets-container {
        position: relative;
        width: 360px;
        font-family: Boogaloo;
        font-size: 18px;
      }
      .project-bullets-text {
        position: absolute;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        width: 256px;
        height: 97px;
        left: 10px;
        top: 3px;
        z-index: 50;
      }
      .built-using {
        position: absolute;
        width: 256px;
        left: 10px;
        top: 3px;
        z-index: 30;
      }
      .project-heading {
        position: absolute;
        left: 0px;
        top: 130px;
      }
      .screenshots-button {
        position: absolute;
        right: 0px;
        top: 130px;
      }
      /* Buttons */
    
      .info-buttons {
        position: absolute;
        top: 200px;
      }
      .gitbox {
        left: 40px;
      }
    
      .liveapp {
        left: 125px;
      }
      .inner-next {
        position: absolute;
        bottom: 70px;
        right: 160px;
      }
    
      .inner-prev {
        position: absolute;
        bottom: 50px;
        right: 240px;
      }
  }

  /* Contact */

  .contact-container {
    width: 320px;
    background-image: url("/images/contactme.png");
    background-size: 320px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
  }

  @media screen and (min-width: 360px) {
    .contact-container {
      width: 360px;
      background-size: 360px;
      height: 520px;
    }
  }